@import "tailwindcss";

.post-highlight {
  box-shadow: 0 10px 40px rgba(137, 168, 178, 0.25);
  transform: scale(1.01);
}

.comment-highlight {
  background: rgba(137, 168, 178, 0.15);
  border: 1px solid rgba(137, 168, 178, 0.4);
  transform: scale(1.01);
  transition: all 0.4s ease;
  box-shadow: 0 8px 25px rgba(137, 168, 178, 0.25);
}